@font-face {
  font-family: 'ClearSansLight';
  src: url('../fonts/ClearSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClearSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClearSans-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ClearSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClearSans-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'ClearSansMed';
  src: url('../fonts/ClearSans-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ClearSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ClearSans-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/ClearSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ClearSans-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?s5uk78');
  src:url('../fonts/icomoon/icomoon.eot?#iefixs5uk78') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?s5uk78') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?s5uk78') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?s5uk78#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ap_info{
  background-color: #4b5d63;
}
 p.ap{
  color: #6dc28c;
  font-size: 60px;
 }

 p.temp{
  color: #6dc28c;
  font-size: 20px;
 }

 p.temp_val{
  color: #6dc28c;
  font-size: 33px;
 }

 .tvalue{
  color: #6dc28c;
 }

 p.alert_text{
  padding-bottom: 21px;
 }

 /*ICONS*/
 .rad_dark.icon-icons_radiator:before{
  color:#000;
  font-size: 81px;
}

.icon-icons_smiley1:before {
  content: "\e612";
  color: #6dc28c;
  font-size: 80px;
}
.icon-icons_smiley0:before {
  content: "\e613";
  color: #6dc28c;
  font-size: 80px;
}

.icon-icons_thermometer2:before{
  content: "\e610";
  color: #6dc28c;
  font-size: 80px;
}

.icon-icons_radiator:before{
  content: "\e614";
  color: #6dc28c;
  font-size: 80px;
}

.icon-icons_history:before{
  content: "\e615";
  color: #6dc28c;
  font-size: 80px;
  padding-bottom: 26px;
}

.icon-icons_door:before{
  content: "\e616";
  color: #6dc28c;
  font-size: 100px;
}

.icon-icons_cloud:before{
  content: "\e617";
  color: #6dc28c;
  font-size: 80px;
  padding-bottom: 26px; 
}

.icon-icons_building:before{
  content: "\e618";
  color: #6dc28c;
  font-size: 150px; 
}

.icon-icons_thermometer:before{
  content: "\e611";
  color: #fff;
  font-size: 86px;  
}

.icon-icons_window:before{
  content: "\e60f";
  color: #fff;
  font-size: 80px;  
}

.ap_info .temp{
  padding-bottom: 20px;
}

p.ap_info_housing{
  width: 200px;
  margin: 0 auto;
}

p.building{
  font-size: 23px;
  padding-bottom: 17px;
}

.tenant_tw a{
  color: #fff;
}

.tweet-housing a{
  color: #fff;
}

.building{
  clear: left;
}

.building_rak{
  width: 224px;
  margin: 0 auto;
  padding-top: 20px;
}
p.rad_on{
  font-size: 33px;
}

p.temp.avg{
  color: #fff;
  font-size: 20px;
}

p.temp_val_rad{
  color: #fff;
}

.tvalue_rad{
  color: #fff;
  font-size: 25px;
}

.dark-blue-bg img{
  width: 100px;
  padding-bottom: 15px;
}

.nb_alerts{
  position: absolute;
  margin-top: 71px;
  margin-left: -25px;
  color: #f9064b;
}

.nb_alerts.adm{
  position: absolute;
  margin-top: 71px;
  margin-left: -25px;
  color: #f9064b;
}

.temp_hist a{
  color: #000;
}


p.temp.weath{
  padding-bottom: 1px;
}

.purple-bg{
  background-color: #856193;
  color: #fff;  
}

.dark-grey-bg{
  background-color: #4b5d63;
}

.dark-grey-bg p{
}

.grey-bg{
  background-color: #dddddd;
  color: #000000;
}

.hashtag{
  font-size: 26px;
  font-weight: 300;
}

.content-tile.tweet-housing{
  padding-bottom: 49px;
}

.content-tile.list-view{
  /*padding-top: 30px;
  padding-bottom: 30px;*/
    padding-top: 25px;
    padding-bottom: 15px;
}

.content-tile.dark-grey-bg.list-view{
    padding-top: 39px;
    padding-bottom: 40px;  
}
.t_info{
  float: right;
  padding-right: 20px;
}

p.ap_number{
  font-size: 25px;
}

p.t_indoors_val{
  font-size: 35px;
}

p.t_indoors{
  font-size: 15px;
}

p.temp_hist{
  color: #000;
  font-size: 20px;
  padding-bottom: 30px;
  padding-top: 7px;
}

.dark-grey-bg p.ap_number{
  color: #6dc28c;
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 40px;
}
.content-tile.minus_b{
  padding-top: 4px;
  padding-bottom: 4px;
}

.building_ico{
  width: 377px;
  margin: 0 auto;
}

.content-tile.alrt{
  padding-bottom: 82px;
}

.content-tile.cld{
  padding-bottom: 81px;
}

.building img{
  width: 233px;
  margin: 0 auto;
  padding-top: 37px;
}

.content-tile.purple-bg.minmax{
  padding-bottom: 94px;
}

.content-tile.radt.grey-bg{
  padding-bottom: 81px;
}

.list.icon-icons_smiley1:before{
  float: right;
  padding-right: 50px;
}
.list.icon-icons_thermometer2:before{
  color: #fff;
  font-size: 95px;
  float: left;
  padding-left: 40px;
}

.list.icon-icons_radiator:before{
  color: #000;
}

.hist.icon-icons_history:before{
  color: #000;
  font-size: 100px;
}

.housing.icon-icons_building:before{
  color: #fff;
}

.content-tile.purple-bg.alerts-content{
  padding-bottom: 100px;
}

.content-tile.light-blue-bg.ikk{
  padding-bottom: 82px;
}

.content-tile.grey-bg.histor{
  padding-bottom: 81px;
}

.content-tile.dark-grey-bg.wth{
  padding-bottom: 81px;
}

p.rad_text{
  font-size: 20px;
}

p.radiators{
  font-size: 20px;
}

p.windows{
  font-size: 20px;
}

p.building_ico{
  padding-bottom: 30px;
  font-size: 20px;
}

.content-tile.building-bg{
  padding-bottom: 60px;
}

p.alerts{
  color:#fff;
  font-size: 20px;
  padding-bottom: 30px;
}
.light-blue-bg{
  background-color: #17bee5;
  color: #fff;
}
.plus-button {
    cursor: pointer;
    cursor: hand;
}
.plus-button img{
  width: 20px;
  margin-top: -68px;
  float: right;
}

.minus-button img{
  width: 20px;
  float: right;
}

.content-tile.purple-bg.minus_b{
  background-color: #a278b5;
}

.purple-bg.alerts-content img.alrt{
  width: 100px;
}

p.temp.text-uppercase.hist{
  padding-bottom: 30px;
}

.tvalue.weather{
    font-size: 32px;
    padding-bottom: 2px;
}

.content-tile.histo{
      padding-bottom: 107px;
}
body {
  color: #ffffff;
  /*background-color: #242827;*/
  font-family: 'ClearSansLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;   
}

/* typography */

h1,h2,h3 {
 font-family: 'ClearSansMed';
}
a, a:hover {
  text-decoration: none;
}
.navbar-brand {
  min-width: 100%;
  display: inline-block;
  padding-bottom: 50px;
}

.navbar-brand img{
  width: 350px;
  margin: 0 auto;
}

.navbar-brand
.site-title{
  text-align: center;
  margin: 10px auto;
}
/* colors */

.dark-blue {
  color: #4A5B62;
}
.dark-blue-bg {
  background-color: #4b5d63;
}

.light-grey {
  color: #F2F2F2;
}
.light-grey-bg {
  background-color: #4b5d63;
  color: #4A5B62;
}

.light-red {
  color: #ED5D81;
}
.light-red-bg {
  background-color: #ED5D81;
}

.light-cyan {
  color: #7BD4C2;
}
.light-cyan-bg {
  backgrou
  nd-color: #7BD4C2;
}

/* containers & grid */

.main {
  padding: 0;
  max-width: 100%;
  margin: 0;

  /* devmode !!!*/  
  /*max-width: 900px;
  margin: 0 auto;*/
  padding-top: 70px;  
}
.page-header {
  background-color: #ffffff;
  overflow: hidden;
}
.content-tile {
  padding-top: 80px;
  padding-bottom: 80px;
  border: 1px solid #fff;
  overflow: hidden;
}

/*
.content-tile:last-child {
  margin-left: 0;
  padding-left: 0;  
}
.content-tile:first-child {  
  margin-right: 0;
  padding-right: 0;
}
*/

/* Bootstrap overrides */
/*
.container-fluid,
.row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
*/

/* forms */

input {
  
  color: #4A5B62;
}

/* misc */

.dummy-box {
  border: 1px solid red;
  height: 300px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .content {
    overflow: hidden;
  }
}
@media screen and (min-width: 769px) {
  .content {
    padding: 0 15px;
  }
}
