
<div class="container-fluid" class="">
    <div class="row">
    <div ng-repeat="listdata in data">
      <!--<div class="content-tile col-sm-12 col-md-12 purple-bg minus_b">
         <div class="minus-button"><img src="images/minus_button.svg" alt=""></div>
      </div>-->
      <div class="content-tile col-sm-6 col-md-4 purple-bg list-view text-center" ng-show="activelist==1">  
        <span class="list icon icon-icons_thermometer2"></span>  
        <div class="t_info" >
          <p class="ap_number">{{listdata.apartmentName}}</p>
          <p class="t_indoors text-uppercase">Temperature indoors</p>
          <p class="t_indoors_val">{{listdata.insideTemperature}}°</p> 
        </div>

      </div>
      <div class="content-tile col-sm-6 col-md-4 dark-grey-bg list-view" ng-show="activelist==3">
        <p class="ap_number">{{listdata.apartmentName}}</p>
        <span class="list icon icon-icons_smiley1" ng-if="data[0].emoticon=='1'"></span>
        <span class="list icon icon-icons_smiley0" ng-if="data[0].emoticon=='0'"></span>
      </div>
      <div class="content-tile col-sm-6 col-md-4 grey-bg list-view text-center" ng-show="activelist==2">
        <span class="list icon icon-icons_radiator"></span>  
        <div class="t_info">
          <p class="ap_number">{{listdata.apartmentName}}</p>
          <p class="t_indoors text-uppercase">Radiator temperature</p>
          <p class="t_indoors_val">{{listdata.radiatorTemperature}}°</p> 
        </div>
      </div>
  </div>
  </div>
</div>