<div class="container-fluid">
  <div id="stage-2" class="row">
    <div class="content-tile col-sm-6 col-md-4 dark-blue-bg text-center">
      <p class="ap text-center">{{data[0].apartmentName}}</p>
      <span class="icon icon-icons_smiley1" ng-if="data[0].emoticon=='1'"></span>
      <span class="icon icon-icons_smiley0" ng-if="data[0].emoticon=='0'"></span>
    </div>
    <div class="content-tile col-sm-6 col-md-4 light-grey-bg text-center"ng-click="showView('graph',999)">
      <div class="plus-button"><img src="images/plus_button.svg" alt=""></div>
      <p class="temp text-uppercase">Temperature indoors</p>
      <p class="temp_val"><a class="tvalue" href="#/list/{{data.roomtemperature.id}}">{{data[0].insideTemperature}}</a>°</p>
      <span class="icon icon-icons_thermometer2"></span>
    </div>
    <div class="content-tile col-sm-6 col-md-4 light-grey-bg text-center" ng-click="showView('graph',999)">
      <div class="plus-button"><img src="images/plus_button.svg" alt=""></div>
      <p class="temp text-uppercase">Radiator Temperature</p>
      <p class="temp_val"><a class="tvalue" href="#/list/{{data.radiatortemperature.id}}">{{data[0].radiatorTemperature}}</a>°</p>
      <span class="icon icon-icons_radiator"></span>
    </div>    
    <div class="content-tile col-sm-6 col-md-4 dark-blue-bg text-center histo" ng-click="showView('graph',999)">
      <div class="plus-button"><img src="images/plus_button.svg" alt=""></div>
      <p class="temp text-uppercase hist">History</p>
      <span></span>
      <span class="icon icon-icons_history"></span>
      <!--<a href="#/list/{{data.notifications.latest.id}}">Count: {{data.notifications.amount}} Latest {{data.notifications.latest.message}}</a>-->
    </div>  
    <div class="content-tile col-sm-6 col-md-4 dark-blue-bg text-center alrt">
      <div class="plus-button"><img src="images/plus_button.svg" alt=""></div>
      <p class="temp text-uppercase alert_text">Alerts</p>
      <img src="images/alert_icon.svg" alt=""> 
      <span class="nb_alerts adm" ng-if="data[0].alert">1</span>
      <span class="nb_alerts adm" ng-if="!data[0].alert">0</span>   
    </div>     
    <div class="content-tile col-sm-6 col-md-4 dark-blue-bg text-center cld">
      <p class="temp text-uppercase weath">Weather</p>
      <p><span class="tvalue weather">{{weatherdata.weather[0].description}} {{weatherdata.main.temp | number:1}} C&deg;</span></p>
      <span class="icon icon-icons_cloud"></span>
    </div> 
    <div class="content-tile col-sm-6 col-md-4 dark-blue-bg text-center building_ico" ng-click="showView('building',999)">
      <div class="plus-button"><img src="images/plus_button.svg" alt=""></div>
      <p class="temp text-uppercase hist">Building overview</p>
      <span class="icon icon-icons_building"></span>
    </div>
    <div class="content-tile col-sm-6 col-md-4 dark-blue-bg text-center tenant_tw">
      <p class="temp text-uppercase hist">Tweets!</p>
      <img src="images/bird.svg" alt="">
      <p class="hashtag"><a href="#">&num;building32c</a></p>
    </div>          
  </div>
</div>
